{% extends "page/header.html" %}

{% block content %}

<div class="blog">
  <div class="blog-content">
    <!--Basic Text Block-->
    <div class="row">
      <h2>헬로우! 게스트</h2>
      <div class="col-sm-10">
        <div class="blog-basic-text">
          <p>최근 우리는 우리의 일반적인 삶을 위협받고있습니다. 그 이유는 모두가 겪고 있는 코로나 바이러스 때문입니다. 코로나 바이러스는 2019년 말에 중국 우한에서 시작된 바이러스로 매우 전염력이 강합니다. 이러한 특성 때문에 환자를 중심으로 어떻게 만나서 감염되었는지와 같은 데이터들이 많이 공개되고 있습니다. 이러한 데이터를 사용하여 한국에서 발생된 코로나 바이러스에 대한 분석을 해보고자 웹 사이트를 제작하였습니다.</p>
        </div>
      </div>
    </div>

    <!--Basic Text Block-->
    <div class="row">
      <h2>소개</h2>
      <div class="col-sm-6">
        <div class="blog-basic-text">
          <p>저는 한국에서 의료기기 연구 개발을 하고 있는 도대국입니다. </p>
          <p>여러 프로그래밍 언어와 데이터 분석 등을 좋아하여 이러한 시도를 해보게 되었습니다.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="blog-code">
          {% load staticfiles %}
          <img src="{% static 'img/home/00_me.png' %}" class="img-responsive"></img>
        </div>
      </div>
    </div>

    <!--In-text list-->
    <div class="row">
      <h2>참조한 자료들</h2>
      <div class="col-sm-10">
        <ul>
          <div class="col-md-8 col-sm-4 col-xs-12">
            <li>
              <a href="https://www.kaggle.com/kimjihoo/coronavirusdataset" target="blank"> 한국 코로나 환자에 대한 캐글 데이터 셋 </a>
            </li>
            <li>
              <a href="https://dacon.io/competitions/official/235590/codeshare/949" target="blank"> 코로나 시각화 경진 대회 - 코로나19와의 전쟁에서 생명 구하기 자료 </a>
            </li>
            <li>
              <a href="https://dacon.io/competitions/official/235590/codeshare/1001" target="blank"> 코로나 시각화 경진 대회 - 뭉치면 죽고 퍼지면 산다! </a>
            </li>
          </div>
        </ul>
      </div>
    </div>

    <!--Structured list-->
    <div class="row">
      <h2>분석 자료의 목차</h2>
      <div class="col-sm-10">
        <div class="blog-structured-list">
          <ol>
            <li>Introduction</li>
            <p>개발자에 대한 소개 및 코로나에 대한 소개 등 전반적인 내용</p>
            <li>Patient analysis</li>
            <p>한국에서의 코로나 환자에 대한 여러 분석을 시도</p>
            <li>Word analysis</li>
            <p>코로나가 활성화되던 시점부터 한창 환자가 급증하던 시점의 검색 단어를 분석함</p>
            <p>한국의 유명한 포털 사이트인 네이버에 검색된 단어를 기반으로 분석</p> 
            <li>Corona map</li>
            <p>한국에서 특정 시점대의 코로나 환자가 다녀간 곳을 지도에 표기해봄</p>
          </ol>
        </div>
      </div>
    </div>

    <!--Video half-->
    <div class="row">
      <h2>코로나 바이러스가 우리의 삶에 미치는 영향에 대한 유투브</h2>
      <div class="col-sm-5">
        <div class="blog-basic-text">
          <p>사회에서 일하고 있는 사람들이 코로나로 겪는 실업에 대한 이야기를 풀어낸 영상</p>
        </div>
      </div>
      <div class="col-sm-5">
        <br>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="400" height="245" src="https://www.youtube.com/embed/JXUVicZuxZM" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"></iframe>
        </div>
      </div>
    </div>


  </div>
</div>


{% endblock %}