{% extends "page/header.html" %}

{% block content %}

<div class="blog">
  <div class="blog-content">
    <!--Basic Text Block-->
    <div class="row">
      <h2>안녕하세요!</h2>
      <div class="col-sm-10">
        <div class="blog-basic-text">
          <p>최근 우리는 우리의 일반적인 삶을 위협받고있습니다. 그 이유는 모두가 겪고 있는 코로나 바이러스 때문입니다. 코로나 바이러스는 2019년 말에 중국 우한에서 시작된 바이러스로 매우 전염력이 강합니다. 이러한 특성 때문에 환자를 중심으로 어떻게 만나서 감염되었는지와 같은 데이터들이 많이 공개되고 있습니다. 이러한 데이터를 사용하여 한국에서 발생된 코로나 바이러스에 대한 분석을 해보고자 웹 사이트를 제작하였습니다.</p>
        </div>
      </div>
    </div>
    <br>

    <!--Basic Text Block-->
    <div class="row">
      <h2>소개</h2>
      <div class="col-sm-6">
        <div class="blog-basic-text">
          <p>저는 한국에서 의료기기 연구 개발을 하고 있는 도대국입니다. 여러 프로그래밍 언어와 데이터 분석 등을 좋아합니다. 특히 의료라는 분야와 관련된 데이터와 기술들을 특히 좋아합니다. 일하는 사이사이 의료와 관련한 데이터 처리 및 분석 등도 즐기고 있습니다. 어떤 것을 코어 기술 및 지식으로써 의료 부문 연구자로 자리 매김할지가 최근에 가장 고민입니다.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="blog-code">
          {% load staticfiles %}
          <img src="{% static 'img/home/00_me.png' %}" class="img-responsive"></img>
        </div>
      </div>
    </div>
    <br>

    <!--In-text list-->
    <div class="row">
      <h2>참조한 자료들</h2>
      <div class="col-sm-10">
        <ul>
          <div class="col-md-8 col-sm-4 col-xs-12">
            <li>
              <a href="https://www.kaggle.com/kimjihoo/coronavirusdataset" target="blank"> 한국 코로나 환자에 대한 캐글 데이터 셋 </a>
            </li>
            <li>
              <a href="https://dacon.io/competitions/official/235590/codeshare/949" target="blank"> 코로나 시각화 경진 대회 - 코로나19와의 전쟁에서 생명 구하기 자료 </a>
            </li>
            <li>
              <a href="https://dacon.io/competitions/official/235590/codeshare/1001" target="blank"> 코로나 시각화 경진 대회 - 뭉치면 죽고 퍼지면 산다! </a>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <br>

    <!--Structured list-->
    <div class="row">
      <h2>분석 자료의 목차</h2>
      <div class="col-sm-10">
        <div class="blog-structured-list">
          <ol>
            <li>Introduction</li>
            <p>개발자에 대한 소개 및 코로나에 대한 소개 등 전반적인 내용</p>
            <li>Patient analysis</li>
            <p>한국에서의 10대 코로나 환자에 대한 여러 분석을 시도 (개학 시점을 중심으로 분석)</p>
            <li>Corona map</li>
            <p>한국에서 10대 코로나 환자가 다녀간 곳을 지도에 표기해봄</p>
          </ol>
        </div>
      </div>
    </div>
    <br>

    <!--Video half-->
    <div class="row">
      <h2>코로나 바이러스 분석에 대한 계기</h2>
      <div class="col-sm-5">
        <div class="blog-basic-text">
          <p>코로나 맵을 바탕으로 사회에 기여하고 있는 대학생을 '유퀴즈 온 더 블럭' 예능에서 인터한 영상이다. 이러한 대학생을 보고 알고있는 지식을 사용하여 실제로 사회에 기여하는 것이 올바른 지식의 사용이라고 생각했다. 특히, 여러 경험을 통해 주체적인 자신을 만드는 가장 중요한 시기인 10대가 코로나의 영향을 받이 받지만 상대적으로 분석이 부족한 것 같다는 느낌을 았습니다. 이러한 동기를 바탕으로 분석을 시도해보았습니다.</p>
        </div>
      </div>
      <div class="col-sm-5">
        <br>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="400" height="245" src="https://www.youtube.com/embed/mI9OHyjRDgk" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"></iframe>
        </div>
      </div>
    </div>


  </div>
</div>


{% endblock %}