{% extends "page/header.html" %}

{% block content %}

<div class="blog">
  <div class="blog-content">
    <!--Structured list-->
    <div class="row">
      <h2>10대 코로나 감염자 분석에 대한 요약</h2>
      <div class="col-sm-10">
      <br>
      <h4>10대 코로나 감염자 분석에 대한 결과 정리</h4>
        <div class="blog-structured-list">
          <ol>
            <li>개학이 10대의 코로나 감염 증감에 미치는 결과</li>
            <p>개학일(20.05.20)을 기준으로 10대 확진자의 비율이 증가했음을 확인할 수 있었음</p>
            <li>10대의 코로나 감염 원인 분석 결과</li>
            <p>개학 여부와 상관 없이 다른 사람으로부터의 감염이 가장 많았음</p>
            <li>코로나 맵을 바탕으로 확인한 10대 의 감염 지역 확인 결과</li>
            <p>데이터에 한계가 있어 정확하게 보기가 힘들었음</p>
          </ol>
        </div>
      </div>
      <div class="col-sm-10">
      <br>
      <h4>10대 코로나 감염자 분석에 대한 요약</h4>
        <div class="blog-basic-text">
          <p>확률은 증가했으나 크지 않게 증가하였으며 주된 원인이 공통적으로 타인에 의한 접촉으로 확인하였음. 뉴스기사에 학교를 기반으로하는 집단감염은 일어나지 않고 있음. 하지만 타인 접촉이 주된 원인인 이상 개학은 위험 요소가 다분한 것으로 보임. 다른 비대면 방식의 교육이 타인의 접촉을 최소한으로하는 방법이 가장 이상적임. 하지만 학생은 학교에서 혹은 밖에서 다양한 활동을 바탕으로 경험을 쌓아 자아와 주체를 마련하기에 이러한 요소를 넣은 교육 방식의 수립이 필요할 것으로 사료됨.</p>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>

{% endblock %}