{% extends "page/header.html" %}

{% block content %}
<div class="blog">
  <div class="blog-content">
    <!--Basic Text Block-->
    <div class="row">
      <h2>Conclusion</h2>
      <div class="col-sm-10">
        <div class="blog-basic-text">
          <p>In conclusion, the brain signal of EEG, body composition before and after performing squatting have been investigated successfully.
              From the analysis, it shows that PSD value for 14 cycles squatting is the highest value as compared to other cycles.
              Phase angle obtained from BIA for 14 cycles squatting shows the highest values as compared to other cycles.
              Therefore, 14 cycles squatting is the best cycle to improve brain’s functionality and body.</p>
        </div>
      </div>
    </div>

    <!--Basic Text Block-->
    <div class="row">
      <h2>Limitations and Recommendation Future Work</h2>
      <div class="col-sm-10">
        <div class="blog-basic-text">
          <p>Due to time constraints, the experiment is conducted for only 4 subjects.
              More subjects will be tested for this project in future to obtain accurate results.
              Next limitation is the result of this project is ambiguous as it is not compared with other activities.
              The effects of superbrain yoga activity on brain’s functionality cannot be differentiated with the effect of other activities on the brain’s functionality.
              Therefore, other exercises will be considered in future so that the effects on brain’s functionality can be compared between different activities.
              The last limitation is EEG device might provide inaccurate results.
              In future work, Functional Magnetic Resonance Imaging (fMRI) can be used together with the EEG device to obtain more accurate results.
              This fMRI is used to display the image of brain’s activity.
              The image is produced by translating the oxygenated haemoglobin flow in the blood component of the brain (Robert Turner and Karl Friston, 1997) (Stuart Clare, 1997).</p>
        </div>
      </div>
    </div>


  </div>
</div>

{% endblock %}